.minesweeper,
.minesweeper-view {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  place-items: center;
}

.minesweeper {
  flex-direction: column;
}

.minesweeper-view {
  flex-direction: row;
}

.minesweeper-view .column {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.minesweeper-view {
  max-width: 100vh;
  max-height: 100vw;
}

.minesweeper-view img {
  max-width: 8.3vw;
  max-height: 8.3vh;
}

.minesweeper-preview .column {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.minesweeper-preview .minesweeper-view img {
  max-width: 100%;
  max-height: 23%;
}
