.same,
.same-view {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  place-items: center;
}

.same {
  flex-direction: column;
}

.same-view {
  flex-direction: row;
}

.same-view .column {
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
}

.same-view {
  max-width: 100vh;
  max-height: 100vw;
}

.same-view img {
  max-width: 12.5vh;
  max-height: 12.5vw;
}

.same-preview img {
  max-width: 8vh;
  max-height: 8vw;
}
