.same-view {
  max-width: 100vh;
  max-height: 100vw;
  display: flex;
}

.same-view .column {
  display: flex;
  flex-direction: column-reverse;
}

.same-view img {
  max-width: 12.5vh;
  max-height: 12.5vw;
}

.same-preview img {
  max-width: 8vh;
  max-height: 8vw;
}
