.same-view {
  max-width: 100vh;
  max-height: 100vw;
  line-height: 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.same-view .column {
  display: flex;
  flex-direction: column-reverse;
}

.same-view img {
  max-width: 12vh;
  max-height: 12vw;
}
