.same {
  max-width: 100vh;
  max-height: 100vw;
  line-height: 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.same .column {
  display: flex;
  flex-direction: column-reverse;
}

.same img {
  max-width: 12vh;
  max-height: 12vw;
}

.ui {
  position: fixed;
  right: 0.2vw;
  top: 0.2vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.ui img {
  margin: 0.2vw;
  width: 10vw;
  height: 10vw;
  max-width: 100px;
  max-height: 100px;
  min-width: 50px;
  min-height: 50px;
}
