node_modules
dist
.vscode/*
**/.DS_Store
*.log
.env
public/data/blog/history.md
src/asset/data/tbc.txt%                                                                                                                                                   