.hexagon {
  width: 100px;
  height: 100px;
}

.hexagon.rot {
  animation: rot 0.1s linear;
}

@keyframes rot {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(60deg);
  }
}

.hexagon-shape {
  fill: #808080;
}

.path-outer {
  fill: none;
  stroke: #000000;
  stroke-width: 20;
}

.path-inner {
  fill: none;
  stroke: #ffffff;
  stroke-width: 17;
}

.path-inner.c0 {
  stroke: #ffffff;
}
.path-inner.c1 {
  stroke: #0077ff;
}
.path-inner.c2 {
  stroke: #44ff00;
}
.path-inner.c3 {
  stroke: #ff7700;
}
.hexagon-shape.c9 {
  fill: #b0b0b0;
}
