.tiles,
.tiles-view {
  display: flex;
  flex-direction: column;
}

.tiles-view .row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.tiles-preview {
  overflow: hidden;
  height: 100%;
  border-radius: 2vw;
}

.tiles-view .row,
.tiles-preview .row {
  margin-top: -49.5px;
}

.tiles-view .row:nth-child(odd),
.tiles-preview .row:nth-child(odd) {
  margin-left: -87px;
}

.tiles-view svg,
.tiles-preview svg {
  min-width: 200px;
  min-height: 200px;
  margin-left: -13px;
  margin-right: -13px;
}
