.ui {
  position: fixed;
  right: 0;
  display: flex;
}

.ui img {
  cursor: pointer;
}

@media (orientation: landscape) {
  .ui {
    flex-direction: column;
    top: 0;
  }
  .ui img {
    margin: 0.1vw;
    height: 19.5vh;
    max-height: 100px;
  }
}

@media (orientation: portrait) {
  .ui {
    flex-direction: row;
    bottom: 0;
  }
  .ui img {
    margin: 0.1vh;
    width: 19.5vw;
    max-width: 100px;
  }
}
