.ui {
  position: fixed;
  right: 0.2vw;
  display: flex;
}

.ui img {
  cursor: pointer;
  margin: 0.2vw;
  max-width: 120px;
  max-height: 120px;
  min-width: 60px;
  min-height: 60px;
}

@media (orientation: landscape) {
  .ui {
    flex-direction: column;
    top: 0.2vw;
  }
  .ui img {
    width: 19vh;
    height: 19vh;
  }
}

@media (orientation: portrait) {
  .ui {
    flex-direction: row;
    bottom: 0.2vw;
  }
  .ui img {
    width: 19vw;
    height: 19vw;
  }
}
