.ui {
  position: fixed;
  right: 0.2vw;
  top: 0.2vw;
  display: flex;
}

.ui img,
.ui svg {
  cursor: pointer;
  margin: 0.2vw;
  width: 10vw;
  height: 10vw;
  max-width: 100px;
  max-height: 100px;
  min-width: 70px;
  min-height: 70px;
}

@media (orientation: landscape) {
  .ui {
    flex-direction: column;
  }
}

@media (orientation: portrait) {
  .ui {
    flex-direction: row;
  }
}
