.ui {
  position: fixed;
  display: flex;
}

.ui img {
  cursor: pointer;
}

@media (orientation: landscape) {
  .ui {
    margin-left: auto;
    margin-right: 0;
    right: 0;
    top: 0;
    align-items: flex-end;
    flex-direction: column;
  }
  .ui img {
    margin: 0.1vw;
    height: 19.5vh;
    max-height: 100px;
  }
}

@media (orientation: portrait) {
  .ui {
    align-items: flex-end;
    flex-direction: row;
    right: 0;
    bottom: 0;
  }
  .ui.top {
    align-items: flex-start;
    flex-direction: row;
    left: 0;
    top: 0;
    right: 100%;
    bottom: 100%;
  }
  .ui img {
    margin: 0.1vh;
    width: 19.5vw;
    max-width: 100px;
  }
}
