.app-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  place-items: center;
  list-style-type: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.app-list li {
  background-color: #303030;
  border-radius: 2vw;
  display: flex;
  justify-content: center;
  place-items: center;
  cursor: pointer;
}

.app-list li:hover {
  background-color: #202020;
}

@media (orientation: landscape) {
  .app-list {
    padding: 6vw 0;
  }
  .app-list li {
    width: 40vw;
    min-height: 30vw;
    margin: 2vw;
  }
}

@media (orientation: portrait) {
  .app-list {
    padding: 16vw 0;
  }
  .app-list li {
    width: 80vw;
    min-height: 60vw;
    margin: 4vw;
  }
}
