.app-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  place-items: center;
  list-style-type: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  overflow: scroll;
  cursor: pointer;
}

.app-list li {
  margin: 4vh 0;
  width: 54vw;
  height: 38vw;
  min-width: 54vh;
  min-height: 38vh;
  max-width: 54vh;
  max-height: 38vh;
  background-color: #303030;
  border-radius: 2vw;
  display: flex;
  justify-content: center;
  place-items: center;
}

.app-list li:hover {
  background-color: #202020;
}
