.app-list {
  list-style-type: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  cursor: pointer;
}

.app-list li {
  width: 54vw;
  height: 38vw;
  max-width: 54vh;
  max-height: 38vh;
  background-color: #303030;
  border-radius: 2vw;
  display: flex;
  justify-content: center;
  place-items: center;
}

.app-list li:hover {
  background-color: #202020;
}
