:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color-scheme: light dark;
  background-color: #404040;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#app {
  height: 100%;
}
