.wordmix,
.wordmix-view,
.wordmix-preview {
  width: 100%;
  height: 100%;
}

.wordmix-view {
  position: absolute;
}

.wordmix-view img {
  position: absolute;
}

@media (orientation: landscape) {
  .wordmix-view img {
    max-width: 40vh;
    max-height: 40vh;
  }
}

@media (orientation: portrait) {
  .wordmix-view img {
    max-width: 30vw;
    max-height: 30vw;
  }
}

.wordmix-preview {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  place-content: center;
}

.wordmix-preview img {
  margin: 1vh 1vw;
  width: 8vh;
  height: 8vw;
}
