.wordmix,
.wordmix-view,
.wordmix-preview {
  width: 100%;
  height: 100%;
}

.wordmix-view {
  position: absolute;
}

.wordmix-view img {
  position: absolute;
}

.wordmix-preview {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  place-content: center;
}

.wordmix-preview img {
  width: 18%;
}

.wordmix-preview img:nth-child(even) {
  margin: 1% 1% 10% 1%;
}

.wordmix-preview img:nth-child(odd) {
  margin: 10% 1% 1% 1%;
}

@media (orientation: landscape) {
  .wordmix-view img {
    max-height: 30vh;
  }
}

@media (orientation: portrait) {
  .wordmix-view img {
    max-width: 30vw;
  }
}
