.klondike,
.klondike-view {
  height: 100vh;
}

.klondike,
.klondike-view,
.klondike-preview {
  background-color: #00683d;
}

.klondike-view {
  display: flex;
  flex-direction: column;
}

.klondike-view .card {
  width: 13vw;
  margin: 0 0.6vw;
}

.klondike-moving-view {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 998;
}

.klondike-moving-dropzones-view {
  position: fixed;
  z-index: 1;
}

.klondike-moving-dropzones-view img {
  position: fixed;
  border: 3px solid greenyellow;
}

.klondike-moving-stack-view {
  position: fixed;
  z-index: 2;
}

.klondike-moving-stack-view .card {
  margin-bottom: -18vw;
}

.klondike-top-view {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1vh;
}

.klondike-stock-view {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 1vw;
}

.klondike-stock-stack-view {
  margin-right: 13.65vw;
}

.klondike-stock-stack-view .card {
  margin-right: -13.65vw;
}

.klondike-foundation-view {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.klondike-tableau-view {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.klondike-tableau-stack-view {
  display: flex;
  flex-direction: column;
}

.klondike-tableau-stack-view .card {
  margin-bottom: -18vw;
}
