.klondike,
.klondike-view {
  height: 100vh;
}

.klondike,
.klondike-view,
.klondike-preview {
  background-color: #00683d;
}

.klondike-view {
  display: flex;
  flex-direction: column;
}

.klondike-view .card {
  width: 13vw;
}

.klondike-top-view {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1vw;
}

.klondike-stock-view {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 1vw;
}

.klondike-stock-stack-view {
  background-image: url(./img/cards/card-back.svg);
  background-repeat: no-repeat;
  background-size: 13vw;
  min-width: 13vw;
  xmargin-right: 13.05vw;
}

.klondike-stock-stack-view .card {
  xmargin-right: -13.05vw;
}

.klondike-foundation-view {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.klondike-tableau-view {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.klondike-tableau-stack-view {
  background-image: url(./img/cards/card-back.svg);
  background-repeat: no-repeat;
  background-size: 13vw;
  min-width: 13vw;
  display: flex;
  flex-direction: column;
}

.klondike-tableau-stack-view .placeholder {
  margin-bottom: -20.5vw;
}

.klondike-tableau-stack-view .back {
  margin-bottom: -18vw;
}

.klondike-tableau-stack-view .drag {
  background-repeat: no-repeat;
  background-size: 13vw;
  min-height: 18.5vw;
  padding-top: 2.5vw;
}

.dragging {
  opacity: 0.1;
}

.dropzone {
  width: 13vw;
  height: 18.5vw;
  border: 1px solid orange;
}
